html,body{
	margin:0;
	padding:0;
	width:100%;
}
h1,p,ul,li,fieldset{
    margin: 0;
    padding: 0;
}
h1,h2{
	/* text-align:center; */
}
a{
	text-decoration:none;
	color:hsl(0,0%,0%);
  transition:color 0.2s linear;
}
a:hover{
  /* text-decoration:underline;
  background:hsl(103, 56%, 26%); */
  color:hsl(0,0%,100%);
}
ul,li{
	list-style: none;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.5;
  text-align:center;
  font-weight:bold;
}
#header{
	background-color: hsl(9, 100%, 90%);
	padding:12px;
  /* text-align:center; */
  /* font-weight:bold; */
}
#logo{
  display:inline-block;
 /*  margin-bottom:24px; */
}
#logo > img{
  display:none;
  margin:0 auto;
	width:75px;
}
#logo > div{
  display:inline-block;
  padding:12px;
  background-image:url("images/Hollyhocks and Roses Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#navHeader a{
  display:block;
  padding:12px 15px;
  transition:background-color 0.2s linear;
  border-radius:5px;
}
#navHeader a:hover,#navHeader a:active{
  background-color:hsl(95, 49%, 36%);
}
#slideshow{
  height:100%;
  padding:24px 0;
  background-image:url("images/slideshow.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slideshow > img{
	display:block;
  max-width:803px;
  margin:0 auto;
}
#intro{
	max-width:900px;
	margin:0 auto;
}
#aboutUs{
	max-width:900px;
	margin:0 auto;
	padding:24px 0;
}
#aboutUs > img{
	display:block;
	max-width: 702px;
	margin:0 auto;
}
#examples{
  background-color: hsl(9, 100%, 90%);
  padding:24px;
  /* text-align:center; */
  /* font-size:20px; */
}
#examples li{
  display:inline-block;
  width:240px;
  height:240px;
  margin:24px;
  background-color:hsla(0,0%,0%,0.3);
}
#examples > a{
  padding: 12px 48px;
  display: inline-block;
  border: 2px solid hsl(103, 56%, 26%);
  text-transform: uppercase;
  border-radius: 5px;
  background-color:hsl(0,0%,100%);
  transition: background-color 0.2s linear;
}
#examples > a:hover{
  background-color:hsl(95, 49%, 36%);
}
#contactUs{
	max-width:900px;
	margin:0 auto;
	padding:24px 0;
	/* text-align:center; */
}
#contactUs > img{
	display:block;
	max-width: 750px;
	margin:0 auto;
}
#contactUs > .contactCol{
	display:inline-block;
	width:100%;
	/* text-align:left; */
  vertical-align:top;
  font-weight:normal;
}
.contactCol > ul{
  margin-bottom:24px;
}
#facebook{
  width:64px;
}
label{
  font-size: 12px;
}
fieldset,input,textarea{
  border:none;
}
input,textarea{
  background-color: hsl(0, 0%, 33%);
  width:100%;
}
/*Break point*/
/*Added +30px to compensate for scrollbar width*/
@media (min-width: 550px){
/* #logo > img{
  display:inline-block;
} */
#logo > div{
  display:inline-block;
  /* -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); */
}
}
@media (min-width: 775px) {
#header{
  text-align:left;
}
#logo > div{
  padding:0;
}
#navHeader{
  float:right;
}
#navHeader li{
  display:inline-block;
}
}